body{
    background:#f1f3f6;
    font-family:Arial;
}

.top-bar{
    width:100%;
    background:#2874f0;
    padding:15px 30px;
    display:flex;
    gap:15px;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
    box-sizing:border-box;
}

.nav-btn{
    background:#fff;
    color:#2874f0;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.nav-btn:hover{
    background:#f1f1f1;
}

h1{
    text-align:center;
}

.container{
    display:flex;
    gap:20px;
    width:90%;
    margin:auto;
}

.cart-items{
    width:70%;
}

.item{
    background:white;
    padding:20px;
    margin-bottom:15px;
    display:flex;
    gap:20px;
    border-radius:10px;
}

.item img{
    width:150px;
    height:150px;
    object-fit:cover;
}

.details{
    flex:1;
}

.details h2{
    margin-bottom:10px;
}

.price{
    color:green;
    font-size:22px;
}

.qty{
    width:60px;
}

.remove-btn{
    background:red;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}

.price-box{
    width:30%;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);

    height:auto;
    align-self:flex-start;
}

.price-box button{
    width:100%;
    background:#1b44fb;
    color:white;
    border:none;
    padding:15px;
    margin-top:20px;
    cursor:pointer;
}



.quantity-box{
    display:flex;
    align-items:center;
    gap:15px;
    margin:15px 0;
}

.quantity-box button{
    width:35px;
    height:35px;
    border:none;
    background:#2874f0;
    color:white;
    font-size:20px;
    border-radius:5px;
    cursor:pointer;
}

.quantity-box span{
    font-size:20px;
    font-weight:bold;
}

.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}.page-title{
    text-align:center;
    margin:25px 0;
}

.page-title h1{
    margin-bottom:5px;
}

.page-title p{
    color:#666;
}

.price-row,
.total-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:24px;
    font-weight:bold;
}

.free{
    color:green;
    font-weight:bold;
}

.checkout-btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:16px;
    border-radius:6px;
    font-size:18px;
    margin-top:25px;
    cursor:pointer;
}

.checkout-btn:hover{
    background:#e85d04;
}

.trust-section{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.trust-box{
    flex:1;
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    font-size:18px;
    font-weight:bold;
}

.recommend-section{
    width:90%;
    margin:40px auto;
}

.recommend-section h2{
    margin-bottom:20px;
}

.footer{
    background:#172337;
    color:white;
    margin-top:60px;
    padding:40px 0;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}

.footer-column{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.footer-column h3{
    color:#878787;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

.footer-column a:hover{
    color:#2874f0;
}

.footer hr{
    margin:30px auto;
    width:90%;
    border-color:#444;
}

.copyright{
    text-align:center;
}